/* Base Styles */
:root {
    --clr--dark: rgb(16, 24, 32);
    --clr--light: #fff; 
    --clr--yellow: #FEE715;
}

 /* Base Body Styles */
body,
html {
    padding: 0;
    margin: 0;
    background: var(--clr--dark);
    color: var(--clr--light);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron';
}

.hidden {
    display: none;
}

.visible {
    display: flex;
}

/* Button Styles */
button {
    margin: 5px;
    font-size: 3em;
    padding: 20px 50px;
    background-color: transparent;
    border: 5px solid #224193;
    border-radius: 10px;
    color: var(--clr--yellow);
}

#restart-button, #continue-game-button {
    font-size: 1em;
}

button:hover {
    background-color: var(--clr--yellow);
    color: var(--clr--dark);
}

#open-menu-button {
    font-size: 20px;
    padding: 0;
}

/* Dialog Styles */
dialog {
    display: none;
}

dialog[open] {
    display: flex;
    animation: 2s;
}

#pause-menu-dialog {
    height: 400px;
    width: 600px;
    background: rgb(16, 24, 32, 0.9);
    color: var(--clr--light);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Game Container */
.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

/* BUBBLES */
#bubbles {
    position: fixed;
    /* Ensure bubbles fill the entire viewport */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* Prevent bubbles from causing scrollbars */
    z-index: -1;
    pointer-events: none;
}

#bubbles span {
    position: absolute;
    bottom: -50px;
    width: 4px;
    height: 4px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #4fc3dc44;
    animation: animate 5s linear infinite;
    animation-duration: calc(400s / var(--i));
}

/* Start Screen Styles and Loader*/
.start-screen, 
.loader {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--clr--yellow);
    z-index: 1;
}

.start-screen h1 {
    font-size: 8em;
}

.loader {
    font-size: 5em;
}


/* Results Screen Styles */
.result-screen {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.result-screen h1 {
    font-size: 5em;
    color: var(--clr--yellow);
}

/* Game Content Styles */
.game-content {
    width: 100%;
    height: 100%;
}

/* Game Header Styles */
.game-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 25px;
    margin-top: 20px;
    border-bottom: 1px solid white;
}

.score,
.lives,
.time {
    flex: 1;
    text-align: center;
}

/* Game Board Styles */
.game-board {
    display: grid;
    grid-template-rows: repeat(15, 53.33px);
    grid-template-columns: repeat(15, 80px);
    gap: 2px;
    box-sizing: border-box;
    padding: 10px;
    width: 1200px;
    height: 700px;
    margin: auto;
    z-index: 1;
}

.game-board div {
    width: 80px;
    height: 53.33px;
}

/* Element Styles */
.shooter {
    gap: 2px;
}

.laser:not(.invader) {
    background-image: url('assets/images/laser.png');
}

.boom {
    background-image: url('assets/images/explosion.png');
    background-size: cover;
    animation: explode 0.3s ease-out;
}

/* Keyframe for Explosinon */
@keyframes explode {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(2);
        opacity: 0;
    }
}

/* Keyframe for Dialog */
@keyframes appear {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

/* Keyframes for Bubbles animation */
@keyframes animate {
    0% {
        transform: translateY(0vh) scale(1);
    }

    100% {
        transform: translateY(-100vh) scale(1);
    }
}